<div class='container'>
  <div class='row'>
      <h2>Follower</h2>
      <table class= "table">
        <thead>
          <tr>
            <% if @users.exists? %>
             <th>image</th>
             <th>name</th>
             <th></th>
             <th></th>
             <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image, size:'50x50' %></td>
            <td><%= user.name %></td>
            <td>Follow: <%= user.followings.count %></td>
            <td>Follower: <%= user.followers.count %></td>
            <td><%= link_to "Show", user %></td>
          </tr>
         <% end %>
         <% else %>
           <th>ユーザーはいません</th>
         <% end %>
         </tbody>
       </table>
  </div>
</div>